
h3 {

    color: black;
    
    font-size: 28px;
    
    background-color: rgb(174,
    198, 203);
    
    width: 50%; /* Adjust the
    width as needed */
    
    padding: 18px 0; /* Adjust the
    padding values as needed */
    
    font-family: "Lucida
    Handwriting", "Comic Sans MS",
    cursive;
    
    }